@import "../../styling/stylingVariables.scss";

#background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../../assets/login/background.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.flex-container-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-container-centered-items {
    align-items: center;
}

#logo-container {
    padding-top: 8vw;
    padding-bottom: 4.3em;

    > img {
        width: 15em;
        height: 5em;
    }
}

#content-container {
    margin: auto;
    background-color: $white;
    width: 33%;
    border-radius: 8px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);

    > p {
        color: $colorPrimary;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        margin: 2.9em 3em 0 3em;
    }

    > h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0;
        text-align: left;
        color: $grayTint20;
        margin: 0.35em 2em 2.33em 2em;
    }
}

#login-form {
    margin: 0 3em 3em 3em;

    label {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: $grayTint20;
    }

    &__username-input,
    &__password-input {
        background-color: #fcfcfc;
        border: 1px $grayTint70 solid;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 24px;
        color: $grayTint10;
        padding: 0.3em;
        margin-top: 0.5em;
        margin-bottom: 1.8em;

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__username-input {
        &:not(.login-form__input--required):hover {
            border: 1px $grayTint20 solid;
        }

        &:not(.login-form__input--required):active,
        &:not(.login-form__input--required):focus {
            border: 1px $grayTint20 solid;
        }

        &.login-form__input--required {
            border: 1px $colorPrimary solid;
        }
    }

    &__password-input {
        border: none;
        flex: 1;
        margin: 0;
        width: 100%;

        &::-ms-reveal,
        &::-ms-clear {
            display: none;
        }
    }

    &__password-container {
        border: 1px $grayTint70 solid;
        box-sizing: border-box;
        border-radius: 8px;
        margin-bottom: 2.8em;

        &:not(.login-form__input--required):hover {
            border: 1px $grayTint20 solid;
        }

        &:not(.login-form__input--required):active,
        &:not(.login-form__input--required):focus,
        &:not(.login-form__input--required):focus-within {
            outline: none;
            border: 1px $grayTint20 solid;
        }

        &.login-form__input--required {
            border: 1px $colorPrimary solid;
        }
    }

    &__visibility-icon-container {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0.4em;
    }

    &__visibility-icon {
        width: 1.5em;
        height: 1.5em;
        fill: none;
        stroke: rgba(0, 0, 0, 0.4);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1;
    }

    &__username-error,
    &__password-error,
    &__validation-error {
        color: $colorPrimary;
        font-size: 14px;
    }

    &__username-error {
        margin-top: -1.8em;
        margin-bottom: 0.8em;
    }

    &__password-error {
        margin-top: -2.8em;
        margin-bottom: 1.8em;
    }

    &__validation-error {
        margin-top: -1.6em;
        margin-bottom: 0.6em;
    }

    &__checkbox-input {
        margin: 0;
        width: 1.2em;
        height: 1.2em;
        border: 1.25px solid $grayTint70;
        box-sizing: border-box;
        border-radius: 4px;
        appearance: none;
        cursor: pointer;

        &:hover {
            border-color: $grayTint20;
        }

        &:checked {
            background-color: $colorPrimary;
            border-color: $colorPrimary;

            &:after {
                content: "\2714";
                font-size: 14px;
                position: relative;
                top: -3px;
                left: 1px;
                color: $white;
            }
        }
    }

    &__checkbox-label {
        margin-left: 0.5em;
        font-size: 16px;
        line-height: 24px;
        color: $grayTint30;
    }

    &__submit {
        cursor: pointer;
        margin-top: 2em;
        padding: 1em 1.6em;
        background-color: $colorPrimary;
        border: none;
        border-radius: 8px;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0;
        color: $white;
        transition: transform 0.2s;

        &:not(:disabled):hover {
            transform: scale(1.02);
        }

        &:disabled {
            background: linear-gradient(
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2)
                ),
                $colorPrimary;
            cursor: default;
        }
    }
}

@media screen and (max-device-width: 822px) {
    #content-container {
        > p {
            margin: 1.9em 0 0 2em;
        }

        > h2 {
            margin: 0.35em 0.5em 1.33em 1.33em;
        }

        #login-form {
            margin: 0 2em 3em 2em;
        }
    }
}

@media screen and (max-device-width: 735px) {
    #content-container {
        width: 80%;
    }
}

@media screen and (max-device-height: 865px) {
    #content-container {
        margin-bottom: 2em;
    }
}

@media screen and (max-device-height: 870px) {
    #logo-container {
        padding: 3.5em 0;
    }
}

@media screen and (max-device-height: 770px) {
    #logo-container {
        padding-top: 3.2vh;
    }
}

@media screen and (max-device-height: 750px) {
    #logo-container {
        padding-top: 2.3vh;
    }
}

@media screen and (max-device-height: 720px) {
    #logo-container {
        padding-top: 1.6vh;
    }
}
