$colorPrimary: #de411b;
$colorPrimaryDark: #a52e11;
$colorPrimaryDisabled: #E56749;
$colorBackground: #F0F3F3;
$colorSurface: #fff;
$colorOnSurface: #5a656b;
$colorBorder: #edeeef;
$colorError: #DC2626;
$colorErrorBackground: #FEF2F2;

$white: #ffffff;
$white2: #fafafa;
$darkGray: #253136;
$grayTint10: #5a656b;
$grayTint20: #6d767c;
$grayTint30: #7f878c;
$grayTint40: #91989D;
$grayTint70: #c8ccce;
$grayTint700: #374151;

$nonBookableColor: #EF4444;
$bookableColor: #10B981;
$bookedColor: #F59E0B;
$grayTint700: #374151;

$inactiveColor: #A4AAAD;