<header class="header">
    <!-- Just an image -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">
                <img src="../../assets/login/RandomLogo.png" alt="">
            </a>
            <button class="profile-logout" (click)="logout()">
                <span>Logout</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 5.8335L12.8333 8.00016L10.5 10.1668" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M12.6667 8H7.16669" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path
                        d="M10.1667 3.1665H4.50002C3.76364 3.1665 3.16669 3.76346 3.16669 4.49984V11.4998C3.16669 12.2362 3.76364 12.8332 4.50002 12.8332H10.1667"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </nav>
</header>