<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <button class = "back-button" (click)="back()">
        <svg width="24" height="14" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <span>
            Back
        </span>
    </button>
	<button (click)="evaluate()" class = "evaluate-page">
		<span>
			Evaluate
		</span>
	</button>
	<button (click)="howObjective()" class = "how-page">
		<span>
			Set How Objective
		</span>
		<svg xmlns="http://www.w3.org/2000/svg"  width="28" height="19"  viewBox="0 0 20 25"><path fill="currentColor" d="M13.293 7.293a.999.999 0 0 0 0 1.414L15.586 11H8a1 1 0 0 0 0 2h7.586l-2.293 2.293a.999.999 0 1 0 1.414 1.414L19.414 12l-4.707-4.707a.999.999 0 0 0-1.414 0z"/></svg>

	</button>
	<button (click)="onOpenModal()" class = "addButton">
		<span>
			Add
		</span>
	</button>
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr style="text-align: center;">
							<th><span>Task</span></th>
							<th><span >Date Added</span></th>
							<th><span>Deadline</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let task of tasks; let i = index">
							<td>
								<p class="user-link">{{task?.objective}}</p>
							</td>
							<td>
								<p class="date">{{task?.dateAdded}}</p>
							</td>
							<td>
								<p class="deadline">{{task?.deadline}}</p>
							</td>
							<td class = ""style="width: 20%;">
								
								<a href="javascript:void(0)" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a  href="javascript:void(0)" (click)="deleteTask(i)" class="table-link danger" >
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <ul class="pagination pull-right">
				<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
			</ul> -->
			</div>
	</div>
		<!-- Modal  Add Button-->
		<div class="modal" id="addWhatTaskModal" tabindex="-1" aria-labelledby="addWhatTaskModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
				  <h5 class="modal-title" id="addWhatTaskModalLabel">Complete the Form to Add What Objective</h5>
				  <button type="button" class="close" (click)="addForm.resetForm()" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				  </div>
				  <div class="modal-body">
					  <form #addForm="ngForm" (ngSubmit)="onAddWhatTask(addForm)">
						  <div class="form-group">
							  <label for="name">Task</label>
							  <input type="text" ngModel name="objective" class="form-control" id="objective" placeholder="Enter Task" required>
						  </div>
						  <div class="form-group">
							  <label for="name">Date Added</label>
							  <input type="text" ngModel name="dateAdded" class="form-control" id="dateAdded" required>
						  </div>
						  <div class="form-group">
							<label for="name">Deadline</label>
							<input type="text" ngModel name="deadline" class="form-control" id="deadline" required>
						  </div>
						  <div class="modal-footer">
							  <button type="button" id="add-user-form" class="btn btn-secondary" data-bs-dismiss="modal" (click)="addForm.resetForm()">Close</button>
							  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add</button>
						  </div>
					  </form>
				  </div>
			  </div>
			</div>
		</div>



		<!-- Modal  Edit Button-->
		<div class="modal" id="addWhatTaskModal" tabindex="-1" aria-labelledby="addWhatTaskModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
				  <h5 class="modal-title" id="addWhatTaskModalLabel">Complete the Form to Add What Objective</h5>
				  <button type="button" class="close" (click)="addForm.resetForm()" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				  </div>
				  <div class="modal-body">
					  <form #addForm="ngForm" (ngSubmit)="onAddWhatTask(addForm)">
						  <div class="form-group">
							  <label for="name">Task</label>
							  <input type="text" ngModel name="objective" class="form-control" id="objective" placeholder="Enter Task" required>
						  </div>
						  <div class="form-group">
							  <label for="name">Date Added</label>
							  <input type="text" ngModel name="dateAdded" class="form-control" id="dateAdded" required>
						  </div>
						  <div class="form-group">
							<label for="name">Deadline</label>
							<input type="text" ngModel name="deadline" class="form-control" id="deadline" required>
						  </div>
						  <div class="modal-footer">
							  <button type="button" id="add-user-form" class="btn btn-secondary" data-bs-dismiss="modal" (click)="addForm.resetForm()">Close</button>
							  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add</button>
						  </div>
					  </form>
				  </div>
			  </div>
			</div>
		</div>




</div>