<div>
    <button class = "back-button" (click)="back()">
        <svg width="27" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <span>
            Back
        </span>
    </button>
    <div class="select-box">
        
        <div class="options-container" >
            <div *ngFor="let user of tasks" (click)="selectTask(user.objective)" class ="option" >
                <input type="radio" class="radio" name = "category"/>
                <label>{{user.objective}}</label>
            </div>  
        </div>
        <div (click)="openDropDown()" class="selected" >
            Select What Task
        </div>
    </div>
    <div id="divChart" [hidden]="!edited">
        <div id="estimatedDays" >
            <h3>Days until the project is finished: {{estimated_days}}</h3>
        </div>
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            >
        </canvas>
    </div>
</div>